body { 
  background-color: rgb(195, 218, 221);
  font-family: 'Comfortaa', sans-serif;
  color: rgb(218, 4, 4);
}

h1 { 
  text-align: center;
  font-size: 3em;
  margin: 20px 0px;
}

p { 
  text-align: center;
  font-size: 3em;
  margin: 20px 0px;
}

#middle { 
  margin: 38vh 0px;
}

